version: '3'
services:
  app:
    build: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app:cached # ソースコードをホストと同期
      - /app/node_modules # コンテナ内 node_modules を維持
    environment:
      - CHOKIDAR_USEPOLLING=true
